body,
html {
	height: 100%;
	width: 100%;
}

#enter-otp {
	display: none;
}
.bg {
	background-image: url("../images/Web_Login_BG.jpg");
	height: 100%;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.forgot-color {
	color: #a280fc;
}

.form-control-file {
	border-style: solid;
}
.spinner-border {
	display: none;
}

.login-color {
	background-image: linear-gradient(to bottom right, #6f79fd, #d788fb, #edbffd);
	border-radius: 5px;
	border-style: none;
	height: 40px;
	color: white;
}

.login-form {
	padding-left: 50px;
	padding-right: 50px;
}
@media( max-width: 555px)
{
	.login-form {
		margin-top: 100px;
	}
}

.positioning-logo {
	position: absolute;
	top: 0%;
	margin-top: 10%;
	width: 100%;
	right: 0%;
}
.email-input {
	padding-top: 25px;
}
#form1 {
	position: absolute;
	top: -13%;
	margin-top: 350px;
	width: 50%;
	float: right;
	right: 0%;
}

#form2 {
	position: absolute;
	top: -8%;
	margin-top: 350px;
	width: 50%;
	float: right;
	right: 0%;
}

#formPsw {
	position: absolute;
	top: -20%;
	margin-top: 350px;
	width: 50%;
	float: right;
	right: 0%;
}

@media (max-width: 768px) {
	#mySlider {
		display: none;
	}

	#form1 {
		width: 100%;
		margin-top: 200px;
	}

	#form2 {
		width: 100%;
    	margin-top: 200px;
	}

	#formPsw {
		width: 100%;
		margin-top: 300px;
	}
}

.logo-space {
	margin-top: 10%;
}

.top-space {
	margin-top: 5%;
}

.form-close {
	color: red;
}

.cancel-button {
	margin-left: 40%;
	color: black;
}
.here {
	display: none;
}
.newPsw {
	display: none;
	margin-top: 50px;
}
.login-color:hover {
	background-image: linear-gradient(150deg, #7277fe, #ca82fb, #f2c2fd);
}
