html {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
    background-image: linear-gradient(-40deg, #e485fb 40%, #6d77ff 100%);
    height: 100%;
    color: #666;
}

header.main-header {
    color: white;
    padding: 3% 0% 1% 0%;
}

header.main-header h1 {
    color: white;
    margin-top: 7%;
    margin-bottom: 0.5em;
    font-size: 3.5em;
    text-align: center;
}

.container-fluid-main {
    position: relative;
}

.body-bg-gradient:after,
.container-fluid-main:after {
    content: ' ';
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    z-index: 0;
}

.body-bg-gradient:after {
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 20%, #ffffff 45%)
}

.main-container {
    background: #fff;
    border-radius: 50px 50px 0 0;
    z-index: 1;
    position: relative;
}

@media (max-width: 700px) {
    .main-container {
        background: #fff;
        border-radius: 50px 50px 0 0;
        z-index: 1;
        position: relative;
    }
}

.alert {
    border-radius: 15px;
    font-size: 22px;
    background-color: #edeef3;
}

.time-font {
    font-size: 15px;
}

.primary-timer {
    font-size: 60px;
    color: white;
}

.taskName {
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}
.task
{
    font-size: 80px;
    font-weight: normal;
}


.stop-time {
    position: relative;
    text-align: center;
    height: 90px;
    width: 90px;
    margin-left: 40%;
    border-radius: 50%;
    top: -50px;
    z-index: 1;
    color: white;
    background-image: linear-gradient(to bottom right, #6f79fd, #d788fb, #fadffd);
    margin-top: 15%;
}

@media (min-width: 1024px) {
    .main-container-employee {
        background: #fff;
        border-radius: 50px 50px 0 0;
        z-index: 1;
        position: relative;
    }

    .time-font {
        font-size: 30px;
    }

    .primary-timer {
        font-size: 100px;
        color: white;
    }

    .taskName {
        color: white;
        font-size: 24px;
        margin-bottom: 1%;
    }

    .stop-time {
        position: relative;
        text-align: center;
        height: 100px;
        width: 100px;
        margin-left: 45%;
        border-radius: 50%;
        top: -47px;
        z-index: 1;
        color: white;
        background-image: linear-gradient(to bottom right, #6f79fd, #df88fb, #ffdffd);
        margin-top: 0%;
    }
}

.stop-time:hover {
    background-image: linear-gradient(150deg, #7277fe, #ca82fb, #f2c2fd);
}

.main-container-employee {
    background: #fff;
    border-radius: 50px 50px 0 0;
    z-index: 1;
    position: relative;
}

.forgot-color {
    color: #a280fc;
}

/*timer*/

/*.clock {
    border-color: solid black;
    padding: 20px;
    border-radius: 5px;
}*/

#success {
    display: none;
    padding-left: 50px;
    padding-right: 50px;
    top: 10%;
    width: 50%;
    position: absolute;
    float: right;
    right: 0%;

}

.btn-primary {
    color: white;
    background-image: linear-gradient(150deg, #8b5ff4, #dd9dfe);
    border-style: none;
    border-radius: 5px;
    opacity: 1;
    z-index: 0;
    box-shadow: 2px 2px 7px #8b5ff4;
}
.btn-default {
    color: white;
    background-image: linear-gradient(150deg, #8b5ff4, #dd9dfe);
    border-style: none;
    border-radius: 5px;
    opacity: 1;
    z-index: 0;
    box-shadow: 2px 2px 7px #8b5ff4;
}
.btn-default:hover {
    background-image: linear-gradient(150deg, #7277fe, #ca82fb, #f2c2fd, #fffacc);
}

.btn-primary:hover {
    background-image: linear-gradient(150deg, #7277fe, #ca82fb, #f2c2fd, #fffacc);
}

#login-time {
    padding-top: 50px;
    color: #c8b8fd;
    font-weight: lighter;
}

a {
    color: #a280fc;
}

a:hover {
    color: #8256f5;
}

.topWidth {
    padding-top: 32px;
}

.timePerTask {
    color: #bbbbbb;
}

.save-task {
    color: white;
    background-image: linear-gradient(to bottom right, #6f79fd, #d788fb);
    border-style: none;
    border-radius: 7px;
    margin: 5% 0% 1% 0%;
    height: 40px;
}

@media (max-width: 770px) {
    #new-task {
        width: 50%;
    }

}

.vertical-line {
    color: #867bfe;
    border-width: 2px;
    border-style: solid;
}

#attach-card {
    min-height: 200px;
}

.card-style-1 {
    box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, .1) !important;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #ededed;
}

.card-style-1 .card-header .vertical-line {
    margin-right: 10px;
}

.card-style-1 .card-header {
    border: none;
    background: #fff;
    border-radius: 15px 15px 0 0;
    color: #999;
    font-size: 14px;
}

.card-style-1 .card-body {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    min-height: 50px;
}

.card-style-1 .card-footer {
    border: none;
    background: #fff;
    border-radius: 0 0 15px 15px;
    margin-left: 15px;
    color: #999;
    font-size: 14px;
}

.card-style-1 .card-footer .card-actions .card-action {
    display: none;
    margin-right: 10px;
}

.card-style-1:hover .card-footer .card-actions .card-action {
    display: inline-block;
}

/*.modal-xl {
    height: 47%;
    min-width: 101%;
    margin: 0;
    padding: 0;
}*/

/*.modal-width {
    min-height: 200%;
}*/

.modal-transparent {
    background-image: linear-gradient(to bottom right, rgb(111, 121, 253, 0.95), rgb(215, 136, 251, 0.95), rgb(250, 223, 253, 0.95));
}

.modal-transparent .modal-header,
.modal-transparent .modal-content {
    background-color: transparent;
    border: none;
    color: #fff;
}

.modal-transparent .modal-content {
    background-color: transparent;
    border: none;
}

.modal-transparent img {
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

.modal-transparent a {
    color: #fff;
}

.modal-transparent ul {
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
}

.modal-transparent ul.text-center li {
    font-size: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Btn {
    padding: 0px;
}

.stop {
    display: none;
}

.modal-backdrop.show {
    opacity: 0;
}

#newModal {
    opacity: .89;
}

#task-times {
    display: none;
}

.footer {
    margin-top: 80px;
}
.main-modal-close
{
    font-size: 36px;
}

.card-action
{
    font-size: 32px;
}
.position_edit_icon
{
    position: absolute;
    margin: -22%;
}
.position_play_icon
{
    position: absolute;
    margin: -22% -5%;
}

.gj-picker-bootstrap
{
    color: #e99efb;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: #e9ecef;
    border-color: #ced4da;
}
.fa-minus
{
    padding: 8px;
    border-radius: 100%;
    background-color: #e9ecef;
}
.icon-plus
{
    padding: 8px;
    border-radius: 100%;
    background-color: #e9ecef;
}
.display-none
{
    display: none;
}












/*section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}*/
section
{

    height: 150px;
}
#gallery-1 div {
  background-image: url(https://images.unsplash.com/photo-1523978591478-c753949ff840?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=79943bd5886756fc2f8172b3c491aaad);
}
#gallery-2 div {
  background-image: url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=4250c7ad21d5fc105432c2368356c084);
}
#gallery-3 div {
  background-image: url(https://images.unsplash.com/photo-1528920304568-7aa06b3dda8b?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=c69d90bfad16229014dfa8c719597c3d);
}
#gallery-4 div {
  background-image: url(https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b2e980356e68649599d7942ec0cb0207);
}
#gallery-5 div {
  background-image: url(https://images.unsplash.com/photo-1506260408121-e353d10b87c7?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=6f7e7a456594490e5791d4001acc8254);
}
#gallery-6 div {
  background-image: url(https://images.unsplash.com/photo-1524260855046-f743b3cdad07?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b7e11411bbd92204a75f7007e8e65a18);
}
section div {
  width: 50px;
  height: 50px;
  background-position: center center;
}

.pg-wrapper::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;

  pointer-events: none;
  content: "";
}
.pg-horizontal
{
    height: 200px
}
.pg-horizontal nav {
  width: 100vw;
  left: 0;
  bottom: 20px;

}
.pg-horizontal nav ul li {
  position: absolute;
  top: 100px;
  left: 50%;
  float: left;
  color: black;
}

#nav .nav {
  position: fixed;
  top: 50px;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: opacity 250ms ease;
  padding: 20px;
}
#nav .nav.active {
  opacity: 1;
}
#nav .nav.nav-prev {
  left: 0;
}
#nav .nav.nav-prev button::after {
  content: "\FB0E";
}
#nav .nav.nav-next {
  right: 0;
}
#nav .nav.nav-next button::after {
  content: "\FB10";
}
#nav .nav button {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#nav .nav button::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 49px;
  color: #fff;
  font-family: "Material Design Icons";
}

/*.pg-wrapper nav {
  position: fixed;
  z-index: 100;
  display: inline;
  align-items: center;
  justify-content: center;
  top: auto;
  height: auto;
}
*/

.pg-wrapper nav ul li a span {
  background: #fff;
}

.pg-wrapper nav li {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
}

.pg-wrapper nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

.pg-wrapper nav li .active span {
  background: #fff;
  position: absolute;
}

.pg-wrapper nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

.pg-wrapper nav ul {
  margin: 0;
  padding: 0;
}

.pg-wrapper nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.pg-wrapper nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.pg-wrapper nav ul li a.active span,
.pg-wrapper nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

.pg-wrapper nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

.pg-wrapper nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

.progress {
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: 5px;
}
.progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  background-color: #fff;
}

.page-progress {
  width: 40px;
  height: 40px;
  left: 10px;
  top: 20px;
}

svg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

circle {
  stroke: #fff;
  fill: transparent;
  stroke-dasharray: 87.9645943005 87.9645943005;
  stroke-dashoffset: 87.9645943005;
}

